.modalWrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    z-index: 3;
  }
  
  .modal {
    min-width: 288px;
    min-height: 374px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .btnClose {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }
  .norm {
    min-width: 288px;
    min-height: 374px;
    border-radius: 30px;
    display: flex;
    position: relative;
  }
  
  
  /* @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  } */
  