/* 글씨 */
h1 {
    text-align:center;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;    
}
/* 박스 */
.box{
    overflow:auto; 
    height: 50vh;
    width: 50vw;
    padding: 1.5rem;
    border: 2px solid gainsboro;
    border-radius: 0.5rem;
    margin: auto;
    margin-top: 2vh;   
}

.box::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

.box::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: gainsboro; /* 스크롤바의 색상 */
    border-radius: 0.5rem;
}

.box::-webkit-scrollbar-track {
    background: hsla(37, 97%, 58%, 0.102);  /*스크롤바 뒷 배경 색상*/
}


.box-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-row > img{
    box-shadow: 2px 3px 2px #dcdcdc;
    border-radius: 2vw;
    margin-top : 15px;
    margin-left: 15px;
    margin-right: 15px;
    width: 8.5vw;
    height: 7vw;
    box-sizing: border-box;
    cursor: pointer;
}

@font-face {
    font-family: "Cafe24SsurroundAir";
    src: url("../../resultTag/css/font/Cafe24SsurroundAir/Cafe24SsurroundAir.ttf");
  }
  
  @font-face {
    font-family: "Cafe24Ssurround";
    src: url("../../resultTag/css/font/Cafe24Ssurround/Cafe24Ssurround.ttf");
  }