<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clover.fortoon.mapper.WebToonMapper">
	
	<select id="genreList" resultType="String">
		select distinct(webtoon_genre) from tbl_webtoon
	</select>
	
	<select id="thumbUrlList" resultType="String">
		select webtoon_thumbnail_url from tbl_webtoon
	</select>
</mapper>