<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clover.fortoon.mapper.WebToonMapper">
	
	<select id="genreList" resultType="String">
		select distinct(webtoon_genre) from tbl_webtoon
	</select>
	
	<select id="bigThumbUrlList" resultType="String">
		select webtoon_big_thumbnail_url from tbl_webtoon
	</select>

	<select id="drawingStyleList" resultType="com.clover.fortoon.model.DrawingStyleDTO">
		select webtoon_num, webtoon_thumbnail_url from tbl_webtoon
	</select>

	<select id="getdrawingStyleInfo" parameterType="String" resultType="com.clover.fortoon.model.DrawingStyleDTO">
		select webtoon_num, webtoon_thumbnail_url from tbl_webtoon where webtoon_title like #{filename}
	</select>

	<select id="tagList" resultType="String">
		select webtoon_tag from tbl_webtoon
	</select>

	<select id="synopsisList" resultType="com.clover.fortoon.model.SynopsisDTO">
		select webtoon_num, webtoon_title, webtoon_writer, webtoon_tag, webtoon_synopsis, webtoon_day, webtoon_big_thumbnail_url 
		from tbl_webtoon
	</select>

	<select id="webtoonList" resultType="com.clover.fortoon.model.WebToonDTO">
		select *
		from tbl_webtoon
	</select>

	<select id="featureValueList" resultType="com.clover.fortoon.model.FeatureValueDTO">
		select *
		from tbl_webtoonchrvl
	</select>

	
</mapper>